*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 1rem 2rem;
  background-color: #aaa;
  --base-size: 2rem;
}

h1 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.controls {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.timer {
  min-height: 2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.board {
  display: grid;
  grid-template-columns: (9, 1fr);
  border: 2px solid black;
  width: fit-content;
  height: fit-content;
  grid-auto-rows: min-content;
  grid-auto-columns: max-content;
  font-size: calc(var(--base-size) * 1);
  --bcolor: black;
  transition: background-color 0.3s ease-in-out;
}

.board.solved {
  /* background-color: #5ab357 !important; */
  --bcolor: hsl(118, 50%, 50%);
  border-color: var(--bcolor);
  transition: background-color 0.3s ease-in-out, border-color 0.5s ease-in-out;
}

.solved .cell, .solved .highlight, .solved .current {
  background-color: hsla(118, 70%, 80%, 1) !important;
  cursor: default;
  transition: background-color 0.9s ease-in-out;
}
  
.solved .current {
  border: none;
}

.cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--base-size) * 1.5);
  height: calc(var(--base-size) * 1.5);
  border: 1px solid hsl(0, 0%, 75%);
  background-color: hsl(0, 0%, 92%);
  color: #555;
  cursor: pointer;
  user-select: none;
  font-weight: 400;
  transition: background-color 0.2s ease-in-out;
  outline-offset: -5px;
  line-height: 1;
}

.cell span {
  position: absolute;
  top: 0;
  right: 2px;
  font-size: 0.9rem;
  font-weight: 400;
  color: #666;
}

.cell:nth-child(3n+4):nth-child(-n+9) {
  border-left: 1px solid var(--bcolor);
}

.row:nth-child(3) .cell:nth-child(n) {
  border-bottom: 1px solid var(--bcolor);
}
.row:nth-child(6) .cell:nth-child(n) {
  border-bottom: 1px solid var(--bcolor);
}

.current {
  outline: 2px dashed hsl(204, 40%, 30%);
  
}

.editable {
  color: #4564c4;
  font-weight: 600;
  /* background-color: #cacaca; */
}

.highlight {
  background-color: hsla(200, 40%, 50%, 0.5) !important;
}

/* style="{($selectedNumber == value) && (value != 0) ? 'background: hsla(118, 38%, 52%, 0.5);' : ''}" */

.error {
  background-color: hsla(0, 100%, 50%, 0.6) !important;
}

.sm {
  font-size: 0.8rem;
}

button {
  appearance: none;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background-color: #ddd;
  color: #444;
  cursor: pointer;
  border-radius: 0.25rem;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.selectedLevel {
  background-color: hsla(200, 100%, 50%, 0.5) !important;
}

.completed h2 {
  font-size: 1rem;
  padding: 0 0 0.25rem 0;
  margin: 1.5rem 0 0.25rem 0;
  border-bottom: 1px solid #333;
}
.completed  ol {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

.completed ol li {
  font-size: 0.7rem;
  margin-bottom: 0.25rem;
  display: flex;
  justify-content: space-between;
}
.completed button {
  margin-left: 0.5rem;
  padding: 0.12rem 0.25rem;
  font-size: 0.7rem;
}

.debug {
  font-size: 0.7rem;
  line-height: 1.5;
  color: #444;
}

/* number grid */
.number-grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
  width: min-content;
  height: min-content;
  /* border: 1px solid #ccc; */
  }
.num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--base-size) * 1.2);
  height: calc(var(--base-size) * 1.2);
  border: 1px solid #ccc;
  background-color: #ddd;
  color: #555;
  padding: 0;
  margin: 0;
  user-select: none;
}

.done {
  background-color: hsla(120, 100%, 25%, 0.5);
}

.modal {
  position: fixed;
  display: flex;
  /* flex-direction: column; */
  align-items: baseline;
  gap: 1rem;
  padding: 2rem;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100px; */
  color: #ddd;
  background-color: hsl(0, 0%, 20%);
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}


.completed-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.fastest {
  background-color: hsl(36, 100%, 50%) !important;
}

.btn-undo {
  margin-bottom: 1rem;
}